body {
    background-color: #FFF6EA40;
}

hr {
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #AD8B73FF;
    font-family: 'Lucida Handwriting', cursive;
}
h1:hover {
    text-shadow: 0 0 2px #AD8B73FF;
}

h2 {
    color: #BF9270FF;
    font-family: ubuntu, Times, serif;
}

td {
    font-family: ubuntu, Times, serif;
    word-spacing: 1.5px;
}

.heading {
    color: #AD8B73FF;
}

.profile {
    border-radius: 100%;
}
.profile:hover {
    transform: scale(1.07);
    box-shadow: 0 0 7px #AD8B73FF;
}

a:hover {
    color: #FF433DFF;
}